.range-container{
}


.meter-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#flat,
#fizzy {
  flex: 1;
  align-self: flex-end;
  text-align: center;
  font-size: 1.5rem;
}



.form-range  {
  flex: 2;
  height: 20px;
  width: 22px;
  border-radius: 10px;
  color: #c917ff;
  background: #3a0c48;
  cursor: pointer;
  margin-top: 1rem;
  margin-bottom: 1rem;
}  


/* advanced styling for track + thumb */
// .form-range::-webkit-slider-runnable-track {
//   height: 10px; 
//   background-color: #55076c; 
// }
// .form-range::-webkit-slider-thumb {
//   background-color: #c917ff; 
//   border: none; 
//   height: 20px; 
//   width: 20px; 
//   border-radius: 50%; 
// }

//   @media (max-width: 768px) {
//     width: 100%;
//   }
// }

// @media (max-width: 480px) {
//   .meter-container {
//     align-items:flex-end;
//   }

//   #flat,
//   #fizzy {
//     flex-grow: 0; 
//   }

//   .form-range {
//     width: 80%;
//   }
// }
